/*.detail-body{*/
/*    background-color:#33adff;*/
/*    height:100%;*/
/*    width:100%;*/
/*    height: 100vh;*/
/*    width: 100vw;*/

/*}*/

.detail-back-btn{
    top:4px;
    color:black;
}

.detail-title-location {
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px;
    /*color: White;*/
    display: inline-block;

}

.detail-text{
    background-color: white;
    font-size: 20px;
}

.bg_img{
    background-image: url("https://i.ibb.co/PWMSWF8/pexels-miguel-padri-n-255379.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#detail_img{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 155%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#detail_content{
    margin: 0;
    color: gray;
    position: absolute;
    top: 40%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#hours{
    margin: 0;
    color: gray;
    top: 60%;
    left: 55%;
    /*-ms-transform: translate(-50%, -50%);*/
    transform: translate(10%, 60%);
}

#hour {
    color: gray;
}
#unavailable{
    margin: 0;
    color: gray;
    top: 60%;
    left: 55%;
    /*-ms-transform: translate(-50%, -50%);*/
    transform: translate(10%, 500%);
}

#hour_unavailable{
    margin: 0;
    color: gray;

    top: 60%;
    left: 55%;
    /*-ms-transform: translate(-50%, -50%);*/
    transform: translate(10%, 60%);
}